server:
  run-mode: "${RUN_MODE}"
  http-port: "${PORT}"

security:
  auth-token-key: "${AUTH_TOKEN_KEY}"

database:
  type: "${DB_TYPE}"
  path: "${DB_PATH}"
  host: "${DB_HOST}"
  port: ${DB_PORT}
  username: "${DB_USER}"
  password: "${DB_PASSWORD}"
  name: "${DB_NAME}"
  ssl-mode: "${DB_SSL_MODE}"

user:
  register-is-enable: ${REGISTER_IS_ENABLE}

storage:
  local-fs:
    is-enable: ${LOCAL_FS_IS_ENABLE}
    save-path: "${LOCAL_FS_SAVE_PATH}"
